@media (max-width: 1100px) {
    .header_main_block {
        flex-direction: column;
    }
    .header_block_left {
        width: 100%;
        margin-bottom: 10px;
    }
    .header__block_right {
        width: 100vw;
        display: flex;
        justify-content: end;
        /* background-color: rgba(97, 107, 106, 0.7); */
    }

    .main_duble img {
        width: 400px !important;
        height: 400px !important;
    }
    .infos > h3 {
        font-size: 12px;
    }
    .infos2 > h3 {
        font-size: 18px !important;
    }
    .main_duble img {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .main_duble {
        flex-direction: column-reverse;
        align-items: center;
    }
    .infos > h3 {
        font-size: 18px;
    }
    .infos2 > h3 {
        font-size: 18px !important;
    }
    .about_block_img {
        width: 100%;
    }
    .about_block_img > img {
        width: 100% !important;
        margin-top: 0px;
    }
    .infos2 {
        /* height: 100%; */
        padding: 10% 3%;
    }
    .img1 {
        display: none;
    }
    .img2 {
        display: block !important;
    }
}
@media (max-width: 950px) {
    .navbar__list {
        display: none;
    }
    .auth_button_div {
        display: none;
    }
    .services__item {
        margin-bottom: 100px;
    }
    .navbar__logo {
        width: 20%;
    }
    .header__block_right img {
        margin-bottom: 30px;
        /* display: none !important; */
    }
}
@media (min-width: 950px) {
    .burger_menu {
        display: none;
    }
}
@media (max-width: 760px) {
    .header__title_left {
        font-size: 36px;
        font-weight: 500;
    }
    .header__desc_left {
        font-size: 14px;
    }
    .header__block_right {
        justify-content: center;
        margin-top: 20px;
    }
    .services__item h3 {
        font-size: 40px;
    }
    .services__item p {
        font-size: 24px;
    }
    .services {
        padding-bottom: 0px;
    }
    .infos2 {
        /* padding: 0; */
    }
}
@media (max-width: 620px) {
    .header__desc_left {
        width: 90%;
    }
    .navbar__logo {
        width: 32%;
    }
}
@media (max-width: 550px) {
    .header__block_right > img {
        width: 90%;
    }
    .services__title_main {
        width: 100%;
        font-size: 18px;
    }
}
